In [ ]:
d = {"name":"혼자 공부하는 데이터 분석"}

import json

# dictionary 형식의 데이터를 json 형식으로 변경
j1 = json.dumps(d, ensure_ascii=False)
print(type(j1))

# json 형식의 데이터를 dictionary 형식으로 변경
d1 = json.loads(j1)
print(type(d1))

<class 'str'>
<class 'dict'>

In [ ]:
d = {"name":"혼자 공부하는 데이터 분석", "author":["박해선", "홍길동"], "year":2022}

# dictionary 형식의 데이터를 json 형식으로 변경
j2 = json.dumps(d, ensure_ascii=False) 

# json 형식의 데이터를 dictionary 형식으로 변경
d2 = json.loads(j2)

print(d2["author"])

['박해선', '홍길동']

In [ ]:
# json 배열
d = """
  [
    {"name":"혼자 공부하는 데이터 분석", "author":"박해선", "year":2022},
    {"name":"혼자 공부하는 머신러닝+딥러닝", "author":"박해선", "year":2020}
  ]
  """

d3 = json.loads(d)
print(d3[0]['name'])

혼자 공부하는 데이터 분석

In [ ]:
# json 문자열을 데이터프레임으로 변환
import pandas as pd
d = """
    [
      {"name":"혼자 공부하는 데이터 분석", "author":"박해선", "year":2022},
      {"name":"혼자 공부하는 머신러닝+딥러닝", "author":"박해선", "year":2020}
    ]
    """
pd.read_json(d)

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    박해선  2020

In [ ]:
# XML 태그
x_str = """
<book>
    <name>혼자 공부하는 데이터 분석</name>
    <author>박해선</author>
    <year>2022</year>
</book>
"""

import xml.etree.ElementTree as et

book = et.fromstring(x_str)

print(type(book))
print(book.tag)

<class 'xml.etree.ElementTree.Element'>
book

In [ ]:
# 자식 엘리먼트 확인하기 (방법1 : 자식 엘리먼트의 순서를 알 경우)
book_children = list(book)
print(book_children)

name, author, year = book_children
print(name.text)
print(author.text)
print(year.text)

[<Element 'name' at 0x7f8d601e34a0>, <Element 'author' at 0x7f8d601e3540>, <Element 'year' at 0x7f8d6016c720>]
혼자 공부하는 데이터 분석
박해선
2022

In [ ]:
# 자식 엘리먼트 확인하기 (방법2 : findtext 이용)
name = book.findtext('name')
author = book.findtext('author')
year = book.findtext('year')
print(name)
print(author)
print(year)

혼자 공부하는 데이터 분석
박해선
2022

In [ ]:
xml_str = """
<books>
  <book>
    <name>혼자 공부하는 데이터 분석</name>
    <author>박해선</author>
    <year>2022</year>
  </book>
  <book>
    <name>혼자 공부하는 머신러닝+딥러닝</name>
    <author>박해선</author>
    <year>2020</year>
  </book>
</books>
"""

books = et.fromstring(xml_str)
print(books.tag)

for book in books.findall('book'):
  name = book.findtext('name')
  author = book.findtext('author')
  year = book.findtext('year')
  print(name)
  print(author)
  print(year)
  print()

books
혼자 공부하는 데이터 분석
박해선
2022

혼자 공부하는 머신러닝+딥러닝
박해선
2020

In [ ]:
# 파이썬으로 API 호출하기
# 발급받은 API 인증키를 입력 
import requests

url = "http://data4library.kr/api/loanItemSrch?format=json&startDt=2021-04-01&endDt=2021-04-30&age=20&authKey=e7a518113ef25bc417b87e8874ff126b7e68b2e06ad2ff044032323f5fde10d7"

# APi 호출의 결과를 담고 있는 requests 패키지의 Response 클래스 객체 반환
r = requests.get(url)

# Response 클래스 객체 데이터를 json으로 변환
data = r.json()

print(data)

books = []

for d in data['response']['docs']:
  books.append(d['doc'])

books_df = pd.DataFrame(books)

books_df.to_json('20_s_best_book.json')

{'response': {'error': '인증정보가 일치하지 않습니다.'}}

KeyError: ignored