In [1]:
# 자료 다운로드
import gdown
gdown.download("http://bit.ly/3pK7iuu", 'ns_book7.csv', quiet=False)

Downloading...
From: http://bit.ly/3pK7iuu
To: /content/ns_book7.csv
100%|██████████| 53.8M/53.8M [00:00<00:00, 238MB/s]

'ns_book7.csv'

In [2]:
# 데이터 읽기
import pandas as pd
ns_book7 = pd.read_csv('ns_book7.csv', low_memory=False)
ns_book7.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [3]:
# 훈련 세트와 테스트 셋으로 분류
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(ns_book7, random_state=42)

In [4]:
print(len(train_set), len(test_set))

282577 94193

In [5]:
# 훈련 셋에서 x, y 분류
x_train = train_set[['도서권수']]
y_train = train_set[['대출건수']]

In [6]:
# 선형 회귀 모델 훈련하기
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [7]:
# 결정계수로 모델 평가
x_test = test_set[['도서권수']]
y_test = test_set[['대출건수']]

lr.score(x_test, y_test)

0.10025676249337112

In [8]:
# 선형 회귀
print("lr.coef_ : ", lr.coef_)
print("lr.intercept_ : ", lr.intercept_)

lr.coef_ :  [[12.87648822]]
lr.intercept_ :  [-3.14554542]

In [9]:
# 로지스틱 회귀
# 대출 건수 평균값보다 높을 경우 1, 이외 0
borrow_mean = ns_book7['대출건수'].mean()
y_train_c = y_train > borrow_mean
y_test_c = y_test > borrow_mean

In [10]:
from sklearn.linear_model import LogisticRegression
logr = LogisticRegression()
logr.fit(x_train, y_train_c)
logr.score(x_test, y_test_c)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7106154385145393

In [11]:
y_test_c.value_counts()

대출건수
False    65337
True     28856
dtype: int64

In [12]:
# 더미 모델
from sklearn.dummy import DummyClassifier
dc = DummyClassifier()
dc.fit(x_train, y_train_c)
dc.score(x_test, y_test_c)

0.6936502712515792