In [1]:
# 데이터 다운로드
import gdown
gdown.download('http://bit.ly/3736JW1', 'ns_book6.csv', quiet=False)

Downloading...
From: http://bit.ly/3736JW1
To: /content/ns_book6.csv
100%|██████████| 55.0M/55.0M [00:00<00:00, 145MB/s]

'ns_book6.csv'

In [2]:
# 데이터 읽기
import pandas as pd
ns_book6 = pd.read_csv('ns_book6.csv', low_memory=False)
ns_book6.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021.0,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021.0,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021.0,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021.0,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021.0,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [3]:
ns_book6.describe()

                  번호           발행년도           도서권수           대출건수
count  379976.000000  379976.000000  379976.000000  379976.000000
mean   201726.332847    2008.516306       1.135874      11.504629
std    115836.454596       8.780529       0.483343      19.241926
min         1.000000    1947.000000       0.000000       0.000000
25%    102202.750000    2003.000000       1.000000       2.000000
50%    203179.500000    2009.000000       1.000000       6.000000
75%    301630.250000    2015.000000       1.000000      14.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [4]:
# 도서 권수가 0권인 도서의 대출 데이터는 의미가 없어 제외
ns_book7 = ns_book6[ns_book6['도서권수']>0]
ns_book7.describe(percentiles=[0.3, 0.6, 0.9])

                  번호           발행년도           도서권수           대출건수
count  376770.000000  376770.000000  376770.000000  376770.000000
mean   202977.476649    2008.460076       1.145540      11.593439
std    115298.245784       8.773148       0.473853      19.279409
min         1.000000    1947.000000       1.000000       0.000000
30%    124649.700000    2004.000000       1.000000       2.000000
50%    204550.500000    2009.000000       1.000000       6.000000
60%    243537.400000    2011.000000       1.000000       8.000000
90%    361341.100000    2018.000000       2.000000      28.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [5]:
# 데이터 타입이 수치가 아닌 다른 타입에 대해서도 기술통계 확인 가능
ns_book7.describe(include='object')

,도서명,저자,출판사,ISBN,세트 ISBN,부가기호,권,주제분류번호,등록일자
count,376770,376770,376770,376770,55866,308252,61793,359792,376770
unique,336408,248850,21875,350810,14875,17,834,12467,4562
top,승정원일기,세종대왕기념사업회 [편],문학동네,9788937430299,9788937460005,0,1,813.6,1970-01-01
freq,250,303,4410,206,702,158235,13282,14816,28185

In [6]:
# 평균 구하기
x = [10, 20, 30]
sum = 0
for i in x:
  sum += i
print(sum / len(x))

20.0

In [7]:
# 평균 구하기 : mean() 메서드 사용
print(ns_book7['대출건수'].mean())

11.593438968070707

In [8]:
# 중앙값 구하기 : median() 메서드 사용
ns_book7['대출건수'].median()

6.0

In [9]:
# 중복값 제외하고 중앙값 구하기
#ns_book7[~ns_book7.duplicated(subset='대출건수')]['대출건수'].median()
ns_book7['대출건수'].drop_duplicates().median()

183.0

In [10]:
# 최솟값 최댓값 구하기
print("최솟값 : ", ns_book7['대출건수'].min())
print("최댓값 : ", ns_book7['대출건수'].max())

최솟값 :  0
최댓값 :  1765

In [11]:
# 분위수 구하기
print("1분위수 : ", ns_book7['대출건수'].quantile(0.25))
ns_book7['대출건수'].quantile([0.25, 0.5, 0.75])

1분위수 :  2.0

0.25     2.0
0.50     6.0
0.75    14.0
Name: 대출건수, dtype: float64

In [12]:
# 분위수 구하기 (interpolation 파라미터 이용)
series_ex = pd.Series([1,2,3,4,5])
print("분위수(interpolation=midpoint) : ", series_ex.quantile(0.9, interpolation='midpoint'))
print("분위수(interpolation=nearest) : ", series_ex.quantile(0.9, interpolation='nearest'))
print("분위수(interpolation=higher) : ", series_ex.quantile(0.9, interpolation='higher'))
print("분위수(interpolation=lower) : ", series_ex.quantile(0.9, interpolation='lower'))

분위수(interpolation=midpoint) :  4.5
분위수(interpolation=nearest) :  5
분위수(interpolation=higher) :  5
분위수(interpolation=lower) :  4

In [13]:
# 백분위 구하기
# 1. 백분위를 알고지 하는 값보다 작은 값을 구하여 평균을 구한다.
borrow_10_flag = ns_book7['대출건수'] < 10
borrow_10_flag.mean()

0.6402712530190833

In [14]:
# 분산 구하기
ns_book7['대출건수'].var()

371.69563042906674

In [15]:
# 표준편차 구하기
ns_book7['대출건수'].std()

19.279409493785508

In [16]:
# 최빈값 구하기
ns_book7['도서명'].mode()

0    승정원일기
dtype: object

In [17]:
# 데이터프레임의 기술통계 구하기
ns_book7.mean(numeric_only=True)

번호      202977.476649
발행년도      2008.460076
도서권수         1.145540
대출건수        11.593439
dtype: float64

In [18]:
# csv 저장 
ns_book7.to_csv('ns_book7.csv', index=False)