In [1]:
# 데이터 불러오기 
import pandas as pd
ns_book7 = pd.read_csv('ns_book7.csv', low_memory=False)
ns_book7.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021.0,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021.0,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021.0,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021.0,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021.0,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [2]:
import numpy as np

# 평균 구하기
print("np.mean(ns_book7['대출건수']) : ", np.mean(ns_book7['대출건수']))
print("np.average(ns_book7['대출건수'], weights = 1/ns_book7['도서권수']) : ", np.average(ns_book7['대출건수'], weights = 1/ns_book7['도서권수']))
print("np.mean(ns_book7['대출건수']/ns_book7['도서권수']) : ", np.mean(ns_book7['대출건수']/ns_book7['도서권수']))

np.mean(ns_book7['대출건수']) :  11.593438968070707
np.average(ns_book7['대출건수'], weights = 1/ns_book7['도서권수']) :  10.543612175385386
np.mean(ns_book7['대출건수']/ns_book7['도서권수']) :  9.873029861445774

In [3]:
# 중앙값 구하기
np.median(ns_book7['대출건수'])

6.0

In [4]:
# 최댓값 구하기
np.max(ns_book7['대출건수'])

1765

In [5]:
# 최솟값 구하기
np.min(ns_book7['대출건수'])

0

In [6]:
# 분위수 구하기
print("np.quantile(ns_book7['대출건수'], [0.25, 0.5, 0.75]) : ", np.quantile(ns_book7['대출건수'], [0.25, 0.5, 0.75]))
print("np.percentile(ns_book7['대출건수'], [25, 50, 75]) : ", np.percentile(ns_book7['대출건수'], [25, 50, 75]))

np.quantile(ns_book7['대출건수'], [0.25, 0.5, 0.75]) :  [ 2.  6. 14.]
np.percentile(ns_book7['대출건수'], [25, 50, 75]) :  [ 2.  6. 14.]

In [7]:
# 분산 구하기
print("np.var(ns_book7['대출건수']) : ", np.var(ns_book7['대출건수']))
print("np.var(ns_book7['대출건수'], ddof=1) : ", np.var(ns_book7['대출건수'], ddof=1))

np.var(ns_book7['대출건수']) :  371.6946438971496
np.var(ns_book7['대출건수'], ddof=1) :  371.69563042906674

In [8]:
# 표준편차 구하기
np.std(ns_book7['대출건수'])

19.27938390865096

In [9]:
# 최빈값 구하기
values, counts = np.unique(ns_book7['도서명'], return_counts=True)
max_idx = np.argmax(counts)
values[max_idx]

'승정원일기'